
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#root {
    height: fit-content;
    min-height: 100vh;
}
.justify-content-center {
    justify-content: center;
}

.border-radius-bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.d-flex{
    display: flex;
}
